# MacOS
.DS_Store

# IntelliJ files
.idea

# python
__pycache__

# dynaconf secret files
.secrets.*

# db
regen
test_ep
db_snapshots/**

# Terraform files
**/.terraform.lock.hcl
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup

# Output
output/**