# MacOS
.DS_Store

# IntelliJ files
.idea

# python
__pycache__

# dynaconf secret files
.secrets.*
etl/.etl_secrets.toml

# db
regen
test_ep
db_snapshots/**
tmp/**

# Terraform files
**/.terraform.lock.hcl
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup

# Airflow
infra/orchestration/logs

# Output
output/**